includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
parameters:
    paths:
        - app
        - bootstrap
        - packages/core/src
        - packages/core/database/factories
    databaseMigrationsPath:
        - packages/core/database/migrations
    level: 5
